[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/                                                                              

[Service]
User="{{ user }}"
Group="{{ user }}"
Restart=on-failure                                                                                                 
ExecStart=/usr/local/bin/node_exporter 
ExecReload= kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target