[Unit]                                                                                                        
Description=Prometheus   
Documentation=https://prometheus.io/docs/introduction/overview/                                                                                     
Wants=network-online.target                                                                                   
After=network-online.target                                                                                   

[Service]                                                                                                     
User="{{ users }}"                                                                                                    
Group="{{ users }}"
Restart=on-failure                                                                                                 
Type=simple                                                                                                   
ExecStart=/usr/local/bin/prometheus --config.file=/etc/prometheus/prometheus.yml \
  --web.listen-address="{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:9090"
  --storage.tsdb.path=/var/lib/prometheus/ \
  --web.console.templates=/etc/prometheus/consoles \
  --web.console.libraries=/etc/prometheus/console_libraries                                                 
ExecReload= kill -HUP $MAINPID

[Install]                                                                                                     
WantedBy=multi-user.target
