global:                                                                                                       
	scrape_interval: 15s                                                                                        
                                                                                                               
scrape_configs:                                                                                               
	- job_name: 'prometheus'                                                                                    
    scrape_interval: 5s                                                                                       
    static_configs:                                                                                           
    	- targets: ['{{ ansible_all_ipv4_addresses }}:9090']
