global:                                                                                                       
	scrape_interval: 15s                                                                                                                                                                                                
scrape_configs:                                                                                               
- job_name: 'prometheus'                                                                                    
  static_configs:                                                                                           
  - targets: ["{{ ansible_facts=\['enp0s8']['ipv4']['address'] }}:9090"]